<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Image Search Abstraction Layer</title>
    </head>
    <body>
        <h3>Image Search Abstraction Layer</h3>
        <p>Go to /api to view recent searches or enter your own search in the URL with an option offset parameter using ?offset=OFFSET!</p>
        <p>Made by Cole Trammer with bing search api and express.js</p>
    </body>
</html>
